{% load static %}
<footer class="footer">
  <div class="row">
    <div>
      <h3 class="link_list">
        О нас
      </h3>
      <div class="coll">
        <ul>
          <li>О магазине</li>
          <li>Карьера</li>
          <li>Контакты</li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="link_list">Онлайн покупки</h3>
      <div class="coll">
        <ul>
          <li>Оплата</li>
          <li>Доставка</li>
          <li>Обмен и возврат</li>
          <li>Условия продажи</li>
          <li>Скидка на первый заказ</li>
          <li>Политика конфиденциальности</li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="link_list">Контакты</h3>
      <div class="coll">
        <ul>
          <li>+7 904 373 88 03</li>
          <li>alehin.daniil.45@mail.ru</li>
          <li><a href="https://github.com/gevvi?tab=overview&from=2025-03-01&to=2025-03-17">Мой github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
